.cmp-error {
    width: 100vw;
    height: 100vh;

    &__content {
        height: calc(100vh - var(--header-height) - var(--grid-gap));
        margin: var(--grid-gap) 0;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, min-content);
        grid-gap: var(--grid-gap);

        @media (min-width: 1280px) {
            grid-template-columns: repeat(8, 1fr);
            grid-template-rows: 2fr 3fr;
        }
    }

    &__code {
        grid-row: 2 / 3;
        grid-column: 1 / 2;
        color: var(--color-accent);
        font-size: 10rem;
        font-weight: bold;
        line-height: 0.8;
        text-align: center;

        @media (min-width: 1280px) {
            grid-row: 1 / 2;
            grid-column: 3 / 6;
            margin-left: -9px;
            padding-top: 80px;
            font-size: 310px;
            text-align: left;
        }
    }

    &__message {
        grid-row: 3 / 4;
        grid-column: 1 / 2;
        padding-top: var(--grid-gap);
        color: var(--color-foreground);
        font-size: 22px;
        text-align: center;

        @media (min-width: 1280px) {
            grid-row: 2 / 3;
            grid-column: 3 / 5;
            padding-top: 0;
            text-align: left;
        }
    }

    &__illustration {
        grid-row: 1 / 2;
        grid-column: 1 / 2;
        margin-top: -80px;

        @media (min-width: 768px) {
            margin-top: 0;
        }

        @media (min-width: 1280px) {
            grid-row: 1 / 3;
            grid-column: 6 / 8;
        }

        @media (min-width: 1600px) {
            grid-column: 5 / 7;
        }
    }

    &--fade {
        opacity: 0;
        animation: fade 0.5s ease-out 0.5s;
    }

    &--code {
        opacity: 0;
        animation: slide 0.5s ease-out 0.5s;
    }

    &--message {
        opacity: 0;
        animation: slide 0.5s ease-out 0.65s;
    }

    &--illustration {
        opacity: 0;
        animation: slide 0.5s ease-out 0.8s;
    }
}

@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slide {
    from {
        opacity: 0;
        transform: translateY(40px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
