@if (code$ | async; as code) {
    <div class="cmp-error">
        <cmp-header animate.enter="cmp-error--fade"></cmp-header>
        <div class="cmp-error__content">
            <cmp-code
                class="cmp-error__code"
                animate.enter="cmp-error--code"
                [code]="code"
            ></cmp-code>
            <cmp-message
                class="cmp-error__message"
                animate.enter="cmp-error--message"
                [code]="code"
                (retry)="retry()"
            ></cmp-message>
            <cmp-illustration
                class="cmp-error__illustration"
                animate.enter="cmp-error--illustration"
            ></cmp-illustration>
        </div>
    </div>
}
