:root {
    // colors
    --color-background: #2d333d;
    --color-foreground: #fff;
    --color-accent: #00dfbf;
    --color-shadow: #373d48;

    // sizes
    --grid-gap: 20px;
    --header-height: 70px;
}

@media (prefers-color-scheme: light) {
    :root {
        --color-background: #fff;
        --color-foreground: #2d333d;
        --color-shadow: #e2e2e2;
    }
}
