:host {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
}

svg {
    max-width: 100vw;
    margin: var(--grid-gap);

    @media (min-width: 520px) {
        max-width: 60vw;
        margin: var(--grid-gap) auto;
    }

    @media (min-width: 768px) {
        max-width: 45vw;
    }

    @media (min-width: 1024px) {
        max-width: 30vw;
    }

    @media (min-width: 1280px) {
        max-width: initial;
        max-height: 100%;
        margin: 60px auto 0;
    }
}
